@import 'libs';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'menu';
@import 'modal';

a {
    font-family: 'Papyrus' !important;
}

$photo-width: 200px;
$photo-margin: 10px;

.photo-container {
    max-width: $photo-width * 3 + $photo-margin * 4;
    //padding: 10px;
    box-sizing: content-box;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: $c-brand;
    overflow: hidden;
    //background-image: url($imgPath + '6sBuOANeMjU.jpg');
}

.photo {
    width: $photo-width;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    margin: $photo-margin 10px;
    border: 1px solid $c-feature;
    border-radius: 5%;
    background-color: $c-bg-inner;
    text-align: center;

}

.photo-title {
    margin: 5px;
    text-align: center;
}

.photo-description {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;   
}

.photo-img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}