@import 'libs';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'menu';
@import 'modal';

a {
    font-family: 'OpewSans' !important;
}

.photo-container {
    max-width: 748px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: $c-brand;
    overflow: hidden;
    //background-image: url($imgPath + '6sBuOANeMjU.jpg');
}

.photo {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid $c-feature;
    border-radius: 5%;
    background-color: $c-bg-inner;
    text-align: center;

}

.photo-title {
    text-align: center;
}

.photo-description {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;   
}

.photo-img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}